{
  "root": true,
  "env": {
    "node": true
  },
  "extends": [
    "plugin:vue/essential",
    "eslint:recommended"
  ],
  "rules": {
    "comma-dangle": ["error", "never"],
    "semi": ["error", "always"],
    "vue/attribute-hyphenation": [
      "error",
      "always"
    ],
    "vue/html-indent": [
      "error",
      "tab"
    ],
    "vue/attributes-order": "error",
    "vue/html-quotes": [
      "error",
      "double"
    ],
    "vue/order-in-components": "error"
  },
  "parserOptions": {
    "parser": "babel-eslint"
  }
}
